/*
 * ---------------------------------------------------------------------------------------
 * _colors.scss
 * ---------------------------------------------------------------------------------------
 */


$lime: #b0eb00;
$bright-red: #b30015;
$dark-blue: #2a00b3;
$deep-cerulean: #0077b3;
$bondi-blue: #00b0b3;
$cyan: #24fbff;
$heliotrope: #8a7dff;
$silver-chalice: #a6a6a6;
$scorpion: #595959;
$tundora: #444;
$mine-shaft: #363636;
$cod-gray: #333;
$black: #000000;
$scifi-menu-bg: rgba(33, 33, 33, 1);
$scifi-dropdown-bg: rgba(0, 190, 190, 0.1);
$deep-blue: rgba(11, 32, 78, 1);
$scifi-text: rgba(0, 190, 190, 0.7);
$scifi-text-hover: rgba(30,164,249,1);
$scifi-menu-border: rgba(rgb(20, 94, 156), 0.5);
$body-bg: #212121;

$track-bg-start: rgba(97, 101, 100, 1);
$track-bg-end: rgba(41, 42, 43, 1);

$slider-start: #ddd;
$slider-end: #888;

$accordion-bg: rgba(243, 243, 243, 1);

$loading-bg: rgba(20, 20, 20, 0.95);
